body {
    width: 100%;
    height: 100%;
    /* Makes sure all content stays under nav-bar */
    padding-top: 60px; 
}

html {
    width: 100%;
    height: 100%;
}

/* Makes all images responsive */
img { 
    max-width: 100%; 
    border-style: none;
}

/* Make all canvases responsive */
canvas {
    max-width: 100%;
    pointer-events: none;    
}


/* Remove blue border when canvas is clicked */
canvas:focus {
    outline: 0;
}

/* Remove blue border when image is clicked */
img a {
    outline : none;
}

/* Remove inner shadow from buttons */
.btn {
    background-image: none;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* Email - Reverse to fool spam bots */
span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}


/* showcase background */
.showback {
	background: #fff;
	padding: 30px;
    padding-top: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 2px #aab2bd;
}

/********* FONTS ****************/
p {
    font-size: 16px;
}

p.errors {
    color:red;
}

.smaller {
    font-size: 14px;
    color: grey;
}

.sectionTitle {
    color:black;
    padding-bottom: 40px;
}

.sectionTitleInverse {
    color:white; 
    padding-bottom: 20px;
}

#about i {
    color:black;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
}

/********* NAV BAR ****************/
.navbar {
    padding:8px;
}

.navbar-default {
    border-color: transparent;
    background: white;
    border: none;
}

.navbar-default .navbar-brand {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: #00b051;
    font-size: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #FCB716;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #34495e;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #B62367;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.navbar-default .nav li button {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
    background: white;
    border: white;
}

.navbar-default .nav li button {
    
}

.navbar-default .nav li a:hover {
    outline: 0;
    color: #FCB716;
/*    color: white;*/
/*    background: #B62367;*/
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #B62367;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #B62367;
}


/********* NAV BAR USER PHOTO ****************/
.brand { 
    width: 50px;
    height: 50px; 
    padding-bottom: 0;
    margin-top: 5px;
}

/********* HEADER ****************/
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../../../assets/img/WiCS2014Dk.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-bckground-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;
}

.header-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

header .intro-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    color: white;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
/*    text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: 200;
    line-height: 40px;
}

header .contact-more-button {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    line-height: 40px;
    padding: 20px 40px 20px 40px;
    border: none;
    background: #f1c40f;
}

header .contact-more-button a:hover {
    color:red;
    background: #afafaf;
}

/********* LINKS ****************/
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #B62367;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}

/********* ABOUT PAGE ****************/
#about {
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    background: #00b051;
}

.project-description {
    color:black;
}

/********* HOURS & LOCATION PAGE ****************/
#location {
    background: #f6f6f6;
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

/* MapMap */
#map-container { 
    height: 300px; 
}

/********* INFO SECTION ****************/
#info {
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #00b051;
}

/********* CLASSES SECTION ****************/
#classes {
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f6;
}

/********* LOGIN PAGE ****************/
#login {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

#login h3 {
    padding-bottom: 10px;
}

#login h4 {
    color:#34495e;
}

/********* PROFILE PAGE ****************/
#profile {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

#profile .container {
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.85);
}

#profile .file-button {
    padding-top: 10px;
    padding-bottom: 30px;
}

#profile .welcome h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #B62367;
    background: white;
    opacity: 50;
    line-height: 90px;
}

#profile .current-project h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#profile .current-project h4 {
    padding-bottom: 20px;
}

#profile hr {
    border-color: #00b051;
    border-width: 5px;
}

.add-new-project-button {
    margin-top: 20px;
    margin-left: 20px;
}

.new-project-button {
    clear:both;
}

.tutorials {
    padding-top: 50px;
    clear:both;
}
/********* STUDENT WORK PAGE ****************/
#student-work {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

#student-work .container {
    background: #00b051;   
    padding-top: 30px;
}


/* Portfolio */
.portfolio-caption {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

.portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

.portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

/* End portfolio */


/********* STUDENT SINGLE WORK PAGE ****************/
#student-single-work {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

#student-single-work .container {
    background: #00b051;   
    padding-top: 30px;
}

#student-single-work canvas {
    pointer-events: all;
}

#single-program-code {
    /* preserve line breaks in text */
    white-space: pre-wrap;
}

.info-content {
    background: white;
    padding: 10px 30px 30px 30px;
}

.edit-code-buttons {
    padding: 10px 0px 20px 0px;
}

/********* HELP PAGE ****************/
#help {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

/********* ACCOUNT SETTINGS ****************/
#my_account_settings {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

#my_account_settings h3 {
    padding-bottom: 10px;
}

#my_account_settings h4 {
    color:#34495e;
    padding-bottom: 10px;
}

#my_account_settings .file-button {
    padding: 2px 0px 25px 0px;
}

/********* SUCCESSFUL SIGN-IN PAGE ****************/
#successful-signin {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

/********* SIGN-OUT PAGE ****************/
#sign-out{
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

/********* SUCCESSFUL DELETE PAGE ****************/
#successful-signin {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

/********* SUCCESSFUL DELETE PAGE ****************/
#successful-delete-account {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #00b051;
}

/********* FOOTER ****************/
footer {
    padding: 25px 0;
    text-align: center;
    background: #f1c40f;
}


footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    color: white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:  50px;
}

.panel {
    padding: 5px;
}

